@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Roboto, sans-serif',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

$cinema-theme-primary: mat-palette($mat-amber);
$cinema-theme-accent: mat-palette($mat-blue);
$cinema-theme-warn: mat-palette($mat-red);

$cinema-theme: mat-light-theme(
    $cinema-theme-primary,
    $cinema-theme-accent,
    $cinema-theme-warn
);

@include angular-material-theme($cinema-theme);